$black: #000;
$white: #fff;
$white-light: #f2f2f2;
$green: #4CAF50;
$grey: #b3b3b3;
$black-light: #1a1a1a;
$grey-dark: #4d4d4d;
$pink: #EF3B3A;
$green-light2: #8DC26F;
$green-light:#76b852;
$gray-light: #777;
$gray-normal: #555;
$gray-dark: #222;
$gray-medium: #eaeaea;
$red: red;
