@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: $white;
  max-width: 360px;
  margin: 0 auto 20px;
  padding: 20px 45px 20px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: $white-light;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: $white-light;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .submit{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $green;
  width: 100%;
  border: 0;
  padding: 15px;
  color: $white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: $grey;
  font-size: 12px;
}
.form .message a {
  color: $green;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: $black-light;
}
.container .info span {
  color: $grey-dark;
  font-size: 12px;
}
.container .info span a {
  color: $black;
  text-decoration: none;
}
.container .info span .fa {
  color: $pink;
}
body {
  background: $green-light; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, $green-light, $green-light2);
  background: -moz-linear-gradient(right, $green-light, $green-light2);
  background: -o-linear-gradient(right, $green-light, $green-light2);
  background: linear-gradient(to left, $green-light, $green-light2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-danger{
  color: $red;
  margin-bottom:15px;
  display:flex;
}
.custom-success{
  color: $green;
  margin-bottom:15px;
  display:flex;
}
#error_exp{
  display:flex-start;
  color: $red;
}

.form ul {
  list-style-type:none;
  padding: 0;

}
.form ul li{
  text-align: left;
}

.form h3{
  padding: 0;
  margin: 0;
  font-weight: 800;
}

.form img {
  text-align: center;
  width: 75%;
  margin: 20px;
}

.btn-edit{
  position: absolute;
  top:2px;
  right:2px;
}

.form .img-logo{
  width:90px;
  height:auto;
  margin:0 0 20px 0;
}

.form .avatar-img{
  border-radius: 50%;
}
