<div class="container show-review">
  <h1 class="rv-title"> <%= @review.title %> </h1>
  <h4> <%= @review.user.full_name %> </h4>
  <br />
  <p class="rv-content"> <%= @review.content %> </p>

</div>
